// colors
$black: #000000;
$lightGray: #a7a7a79c;
$clicked: #3d3c9b;
$error-red: red;

//breakpoints
$xs: "20em";
$sm: "30em";
$md: "48em";
$lg: "62em";
$xl: "80em";
$xxl: "96em";

//aligns
$center: center;

//spacing & sizing
$fiveEm: 5em;
$threeEm: 3em;
$em1: 1em;
$px10: 10px;
$px12: 12px;
