@import "../utilities/indexUtils.module";

.container {
    @include defaultContainerStyle;

    .section {
        @include centerAlignAndWrap;
        position: relative;

        .hr {
            width: 60%;
        }
    }
}

@media (max-width: $md) {
    .container {
        .section {
            .hr {
                width: 90%;
            }
        }
    }
}
