@import "../utilities/indexUtils.module";

.modal {
    align-items: center;
    background-color: white;
    border: 1px solid $lightGray;
    border-radius: 12px;
    box-shadow: inset 0px 0px 5px 0.5px $lightGray;
    display: grid;
    justify-content: center;
    padding: 5em;
    position: absolute;
    width: 60%;
    z-index: 1000;
}

@media (max-width: $md) {
    .modal {
        width: 80%;
    }
}
