@import "../utilities/indexUtils.module";

.scoreContainer {
    width: 85%;

    .th {
        border-color: $black;
    }
}

@media (max-width: $md) {
    .scoreContainer {
        width: 100%;
    }
}
