@import "../utilities/indexUtils.module";

.cell:hover {
    @include hoverBehaviour;
}

.boardDiv {
    display: flex;
    justify-content: center;
    margin-top: $fiveEm;
    width: 100%;

    .tbody {
        border-radius: $px10;

        .tr {
            display: flex;

            .mine {
                @include borderBlack;
                border-radius: $px10;
                height: $threeEm;
                margin: 0.1em;
                padding: 0.5em;
                width: $threeEm;
            }

            .mineHitted {
                @include mineHitted;
            }

            .cellClicked {
                @include cellClicked;
            }

            .cellEmpty {
                background-color: $lightGray;
            }
        }
    }
}
